html{
}
body{
  margin: 50px 0 0 0;
  text-align: center;
  background: #ffffff;
}

a{
	text-decoration:none;
	color: #000000;
}

.headerbar{
  display: flex;
	justify-content: space-between;
	align-items: center;
  padding: 0 50px;
}

.websitetitle{
	font-family: 'Noto Serif SC';
	margin: 0;
  font-size: 60px;
}



.pageselector{
  display: none;
}

.contentway{
  display: none;
}

.morebtn{
	position: relative;
	width: 100px;
	height: 100px;
}

.morebtn span{
	position: absolute;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	display: block;
	border-radius: 10px;
	height: 8px;
	background-color: #000000;

}


.morebtn span:nth-child(1){
	top: 30%;
	width: 80px;
}

.morebtn span:nth-child(2){
	top: 70%;
	width: 50px;
}

.moreoption{
	display: flex;
	flex-direction:column;
	z-index: 999;
	background-color: #ffffff;
	width: 100%;
	margin-top: 35px;
	margin-bottom: 35px;
	height: 0px;
	overflow: hidden;
	transition: height 0.3s;
}

.moreoption a{
	font-size: 40px;
	padding-bottom: 30px;
}

.bodycontent{
	padding: 0 50px;
}

.block{
	width: 100%;
	display: flex;
	flex-flow: column;
}

.blockbg{
	display: none;
}

.blockbg-mb{
	width: 100%;
}

.block a{
	position: absolute;
	width: 100%;
	height: 100%;
}

.block a p{
	position: absolute;
	width: 100%;
	bottom: 50%;
	transform: translateY(50%);
	margin: 0;
	z-index: 3;
	font-size: 60px;
	font-weight: bold;
}

.block > div{
	position: relative;
	height: 495px;
	background-position: center;
	margin-bottom: 50px;
	border-radius: 30px;
	overflow: hidden;
}

.darktext{
  color: #000000;
}


.lighttext{
  color: #ffffff;
}

.footer{
  text-align: center;
}

.footer p{
  color: #dddddd;
}

.footer a{
  color: #dddddd;
  text-decoration:underline;
}
